# Python junk
__pycache__/
*.py[cod]
*.pyo

# macOS junk
.DS_Store

# Jupyter notebook autosaves
*.ipynb_checkpoints/

# Environment files
.env

# Logs
*.log

# Experiment outputs
data/
scripts/analyze_training.py
scripts/train.py
images/